<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}Digital Store{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <style>
        nav ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            justify-content: center;
        }
        nav ul li {
            margin: 0 10px;
        }
        nav ul li form {
            display: inline;
        }
        nav ul li button {
            background: none;
            border: none;
            padding: 0;
            color: inherit;
            cursor: pointer;
            font: inherit;
        }
    </style>
</head>
<body>
    <header>
        <h1>Digital Store</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Products</a></li>
                <li><a href="{% url 'view_cart' %}">Cart</a></li>
                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li> <!-- Profile link added -->
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Digital Store</p>
    </footer>
</body>
</html>
