<option value="">All Categories</option>
        <option value="adguard" {% if request.GET.category == 'adguard' %}selected{% endif %}>AdGuard Products</option>
        <option value="adobe" {% if request.GET.category == 'adobe' %}selected{% endif %}>Adobe Products</option>
        <option value="aida64" {% if request.GET.category == 'aida64' %}selected{% endif %}>AIDA64 Products</option>
        <option value="aiseesoft" {% if request.GET.category == 'aiseesoft' %}selected{% endif %}>Aiseesoft Products</option>
        <option value="aomei" {% if request.GET.category == 'aomei' %}selected{% endif %}>AOMEI Products</option>
        <option value="ashampoo" {% if request.GET.category == 'ashampoo' %}selected{% endif %}>Ashampoo Products</option>
        <option value="autodesk" {% if request.GET.category == 'autodesk' %}selected{% endif %}>Autodesk Products</option>
        <option value="bitdefender" {% if request.GET.category == 'bitdefender' %}selected{% endif %}>Bitdefender Products</option>
        <option value="ccleaner" {% if request.GET.category == 'ccleaner' %}selected{% endif %}>CCleaner Products</option>
        <option value="corel" {% if request.GET.category == 'corel' %}selected{% endif %}>Corel Products</option>
        <option value="drivermagician" {% if request.GET.category == 'drivermagician' %}selected{% endif %}>DriverMagician Products</option>
        <option value="easeus" {% if request.GET.category == 'easeus' %}selected{% endif %}>EaseUS Products</option>
        <option value="eset" {% if request.GET.category == 'eset' %}selected{% endif %}>ESET Products</option>
        <option value="glarysoft" {% if request.GET.category == 'glarysoft' %}selected{% endif %}>Glarysoft Products</option>
        <option value="kaspersky" {% if request.GET.category == 'kaspersky' %}selected{% endif %}>Kaspersky Products</option>
        <option value="macos" {% if request.GET.category == 'macos' %}selected{% endif %}>MacOs Software</option>
        <option value="office2013" {% if request.GET.category == 'office2013' %}selected{% endif %}>Microsoft Office 2013 Products</option>
        <option value="office2016" {% if request.GET.category == 'office2016' %}selected{% endif %}>Microsoft Office 2016 Products</option>
        <option value="office2019" {% if request.GET.category == 'office2019' %}selected{% endif %}>Microsoft Office 2019 Products</option>
        <option value="office2021" {% if request.GET.category == 'office2021' %}selected{% endif %}>Microsoft Office 2021 Products</option>
        <option value="office2024" {% if request.GET.category == 'office2024' %}selected{% endif %}>Microsoft Office 2024 Products</option>
        <option value="office365" {% if request.GET.category == 'office365' %}selected{% endif %}>Microsoft Office 365 Products</option>
        <option value="server" {% if request.GET.category == 'server' %}selected{% endif %}>Microsoft Server Products</option>
        <option value="sql" {% if request.GET.category == 'sql' %}selected{% endif %}>Microsoft SQL Server Products</option>
        <option value="visualstudio" {% if request.GET.category == 'visualstudio' %}selected{% endif %}>Microsoft Visual Studio Products</option>
        <option value="windows10" {% if request.GET.category == 'windows10' %}selected{% endif %}>Microsoft Windows 10 Products</option>
        <option value="windows11" {% if request.GET.category == 'windows11' %}selected{% endif %}>Microsoft Windows 11 Products</option>
        <option value="windows7" {% if request.GET.category == 'windows7' %}selected{% endif %}>Microsoft Windows 7 Products</option>
        <option value="windows8" {% if request.GET.category == 'windows8' %}selected{% endif %}>Microsoft Windows 8 Products</option>
        <option value="mindmanager" {% if request.GET.category == 'mindmanager' %}selected{% endif %}>MindManager Products</option>
        <option value="nitro" {% if request.GET.category == 'nitro' %}selected{% endif %}>Nitro Products</option>
        <option value="spotify" {% if request.GET.category == 'spotify' %}selected{% endif %}>Spotify Subscription</option>
        <option value="subscription" {% if request.GET.category == 'subscription' %}selected{% endif %}>Subscription and Credits</option>
        <option value="symantec" {% if request.GET.category == 'symantec' %}selected{% endif %}>Symantec Products</option>
        <option value="vmware" {% if request.GET.category == 'vmware' %}selected{% endif %}>VMware Products</option>
        <option value="vpn" {% if request.GET.category == 'vpn' %}selected{% endif %}>VPN Products</option>

        /* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow pagination items to wrap */
    margin-top: 25px;
    padding-top: 10px;
}

.pagination .page-item {
    display: inline-block;
    margin: 0 5px;
}

.pagination .page-item .page-link {
    color: #343a40;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 0.5em 1em; /* Adjust padding for responsiveness */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-item.active .page-link {
    color: white;
    background-color: #5f5e5e;
    border-color: #000000;
}

.pagination .page-item .page-link:hover {
    background-color: #ddd;
    color: #343a40;
}

@media (max-width: 768px) {
    .pagination {
        justify-content: center; /* Center pagination items on mobile */
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
    }

    .pagination .page-item {
        margin: 2px; /* Adjust margin for mobile */
    }

    .pagination .page-item .page-link {
        width: auto; /* Ensure width is responsive */
        height: auto; /* Ensure height is responsive */
        padding: 0.5em 1em; /* Adjust padding for mobile */
        font-size: 14px; /* Adjust font size for mobile */
    }
}
/* Ensure containers fit the screen on mobile devices */
.container {
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.table-responsive {
    overflow-x: auto;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .cart-widget {
        transform: scale(0.75);
        bottom: 50px;
        right: 15px;
    }

    .pagination {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #343a40;
        padding: 10px 0;
        z-index: 999;
    }

    .pagination .page-item .page-link {
        color: white;
        background-color: #343a40;
        border: none;
    }

    .pagination .page-item.active .page-link {
        background-color: #ff5722;
        border: none;
    }
}

/*new styles proba*/
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ec1111;
    border-radius: 10px;
    background-color: #f9f9f9a8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff9100;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: #ff3c00;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: #0056b3;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b41212;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: #0056b3;
}

.row-cols-1.row-cols-md-4.g-4.mt-4 {
    margin-top: 20px;
}